* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 6, 11);
}

nav{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 14px 16px;
    
}

nav a{
    padding: 14px 10px;
    text-decoration: none;
}

.restobar{
    text-decoration: none;
    color: aliceblue;

}

nav a:hover{
    background-color: black;
	color: white;
}



.getstar{
    color: wheat;
}

nav ul li{
    display: inline-block;
}

.getstar{
    text-decoration: none;
    border-radius: 34px;
}

footer{
    color:aliceblue;
}