* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 6, 11);
}

nav{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    
}
nav ul li{
    display: inline-block;
}

footer{
    color:aliceblue;
}